.dashboard__container {
  display: grid;
  /* padding-top: 55px; */
  grid-template-columns: 150px auto;
}

.dashboard__content {
  height: 100vh;
}

.dashboard__showUsers {
  margin: 3vh;
  padding: 4vh;
  background-color: #f8f9fa;
  max-width: 300px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1976d2;
  font-weight: 600;
  font-size: x-large;
}
.dashboard__showUsers * {
  margin: 10px;
}
.dashboard__hr {
  width: 100%;
}
