* {
  text-align: center;
}

.signup__card {
  width: 80vw;
  max-width: 600px;
  padding: 3vh 3vw;
  margin: auto;
}

.signup__textfield {
  padding: 0px !important;
  margin: 3px !important;
  scale: 0.75;
}

.signup__card * {
  margin: 0;
  padding: 0;
}
