* {
  margin: 0;
  padding: 0;
}

.signup__form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.signup__card {
  width: 80vw;
  max-width: 600px;
  padding: 3vh 3vw;
  margin: auto;
}

.signup__form * {
  margin: 5px 0px 5px 0px;
  width: 50vw;
  max-width: 600px;
}
